{% extends 'base.html' %}

{% block header %}
Доступные билеты
{% endblock %}

{% block title %}
Билеты в продаже
{% endblock %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      {% for el in tickets %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ el.event_name }}</h5>
              <p class="card-text">{{ el.event_location }}</p>
              <p class="card-text">{{ el.event_timestamp }}</p>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" href="tickets/{{ el.id }}">See more</button>
                </div>
                <small class="text-body-secondary">{{ el.price }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}